

/* Fix gallery layout when images are inside <picture> tags */
.wp-block-gallery figure picture {
    display: block;
    height: 100%;
    width: 100%;
}

.wp-block-gallery figure picture img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
